.body{
  font-family: 'Lato', sans-serif;
}

.intro{
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to bottom right, #06beb6,#48b1bf); */
  display: flex;
  align-items: center;
}

h4{
  font-family: 'Lato', sans-serif;
  font-size: 2em;
}

p{
  font-family: 'Lato', sans-serif;
  font-weight: lighter;
  font-size: 1em;
  line-height: 2em;
}

.chapter_title{
  position: relative;
  display: flex;
  align-items: center;
  height: 100px;
  box-sizing: content-box;
  font-family: 'Lato', sans-serif;
  font-size: 5em;
  line-height: 2rem;
  left: 10%;
  width: 80%;
  margin: 40 0;
}

#websites_chapter{
  top:50px;
}

.description{
  font-size: 21px;
  line-height: 32px;
}

a{
  text-decoration: none;
}

.content{
  position: relative;
  width: 100%;
  height: auto;
}
.intro .content h1{
  width: 100%;
  color: #000; 
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  font-size: 7em;
  line-height: 4rem;
  top: 10%;
}

.intro .content p{
  width: 100%;
  color: white; 
  opacity: .8;
}

.content{
  box-sizing: border-box;
  padding: 10%;
}

.books_container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  top:  70px;
  left: 10%;
}

.websites_container{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  top:  70px;
  left: 10%;
}

/* #books_container{
  /* position: absolute;
  height: 50%;
  background-color: #48b1bf;
} */

.chapter{
  opacity: .4;
  text-decoration: none;
  /* transition: all 1s ease; */
}

.chapter:hover{
  text-decoration: underline;
  cursor: pointer;
}

.button{
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  position: relative;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  width: 200px;
  margin: .5%;
  box-shadow: 2px 2px 5px #fff;
  border: 0px;
  /* background-image: url("../img/peroz.png"); */
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 1s;
  /* opacity: .5; */
}

.websites-button{
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  position: relative;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
  width: 200px;
  margin: .5%;
  box-shadow: 2px 2px 5px #fff;
  border: 0px;
  /* background-image: url("../img/peroz.png"); */
  background-repeat: no-repeat;
  background-size: 100%;
  transition: all 1s;
  /* opacity: .5; */
}

.button:hover .container > .button{
  opacity: .5;
}

.button-content{
  position: absolute;
  text-align: center;
  width: 80%;
  height: auto;
  bottom:auto;
  left: 10%;
  /* opacity: .1; */
  transition: all 1s;
  color: #000;
  font-weight: lighter;
  font-size: 21px;
  line-height: 26px;
}

.button:hover{
  opacity: 1;
  box-shadow: 2px 2px 5px #ccc;
}

.hide{
  display: none;
}

.show{
  display: flex;
}

.filtered-content{
  min-height: 100%;
  position: relative;
}

.book-filter-container{
  position: relative;
  top: 0%;
  left: 10%;
  height: 120px;
  width: 80%;
  display: flex;
  flex-flow: row wrap;  
}

.website-filter-container{
  position: relative;
  top: 0%;
  left: 10%;
  height: 120px;
  width: 80%;
  display: flex;
  flex-flow: row wrap;  
}

.book-filter{
  margin: 10px;
  border: solid 1px #000;
  background-color: white;
  position: relative;
  width: 100px;
  height:30px;
  display: flex;
  align-items: center;
  top:40px;
  border-radius: 15px;
}

.website-filter{
  margin: 10px;
  border: solid 1px #000;
  background-color: white;
  position: relative;
  width: 100px;
  height:30px;
  display: flex;
  align-items: center;
  top:40px;
  border-radius: 15px;
}

.p_button {
  color: #000;
  width: 100%;
  text-align: center;
  pointer-events:none;
}

.p_button_websites{
  color: #000;
  width: 100%;
  text-align: center;
  pointer-events:none;
}

.selected-filter{
  background-color: #000;
}

.p_selected{
  color: white;
}

.book-image{
  position: relative;
  width: 100%;
  background-color: #e3e4e5;
  height: 60%;
  pointer-events: none;
}

.website-image{
  position: relative;
  width: 100%;
  background-color: #e3e4e5;
  height: 60%;
  pointer-events: none;
}

.website-title{
  pointer-events: none;
}

.book-author{
  position: relative;
  left: 10%;;
  width: 80%;
  height: auto;
  font-weight: lighter;
  margin: 10 0 0 0;
  pointer-events: none;
}

.book-title{
  position: relative;
  left: 10%;;
  width: 80%;
  height: auto;
  line-height: 21px;
  font-weight: bolder;
  margin: 0 0 10 0;
  pointer-events:none;
}

#books{
  margin: 0;
}
